.topnav {
  background-color: #FFFFFF;
  padding: 5px 7px
}
#body {
  display: block;
}

.navbar {
  overflow: hidden;
  position: fixed;
  bottom:0;
  width: 100%;
}

.navbar a {
  float: left;
  display: block;
  padding: 8px 25px
  
}